# Исключить виртуальное окружение
venv/
ENV/
env/

# Исключить файлы компиляции Python
*.pyc
*.pyo
__pycache__/

# Исключить конфиденциальные файлы
*.env
.env.*

# Исключить файлы базы данных SQLite
db.sqlite3
*.sqlite3

# Исключить лог-файлы
*.log

# Исключить временные файлы редакторов
*.swp
*.swo
*~
.idea/
.vscode/

# Исключить статические файлы, собранные при `collectstatic`
staticfiles/
static/
media/

# Исключить дампы и резервные копии
*.bak
*.dump
*.sql

# Исключить миграции (если вы не хотите их версионировать)
*/migrations/*

# Исключить Node.js зависимости (если в проекте используется npm/yarn для фронтенда)
node_modules/
package-lock.json
yarn.lock
