.note {
  margin: 0;
  background-color: #bcd9ff;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (max-width: 600px) {
    gap: 10px;
    width: 100%;
    justify-content: flex-start;
    min-height: 90px;

    .note-box {
      padding: 15px;
    }
    h4 {
      font-size: 18px;
      line-height: 21.33px;
    }

    h5 {
      font-size: 14px;
      line-height: 16.59px;
    }
    .med-card-note-type {
      display: none;
    }
    .expand-button {
      bottom: 10px;
      right: 15px;
    }
    .expand-button.expanded {
      bottom: 15px;
    }
    .note-header {
      gap: 10px;
    }
    .doctor-info {
      gap: 5px;
    }
  }

  @media (min-width: 600px) {
    gap: 40px;

    justify-content: center;

    width: 100%;

    min-width: 700px;

    .note-box {
      padding: 35px 35px;
      width: 95%;
    }
    h4 {
      font-size: 32px;
      line-height: 37.92px;
    }

    h5 {
      font-size: 28px;
      line-height: 33.18px;
    }

    .expand-button {
      bottom: 15px;
      right: 35px;
    }
    .expand-button.expanded {
      bottom: 25px;
    }

    .note-header {
      gap: 20px;
    }
  }

  .note-not-expanded {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    gap: 20px;
  }

  .note-header {
    margin: 0;
    display: flex;
  }

  h4 {
    font-family: Rubik;
    font-weight: 400;
    text-align: left;
  }

  h5 {
    margin: 0;
    font-family: Rubik;
    font-weight: 400;
    color: #656565;
  }

  .doctor-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
  }
  toggle-layer {
    display: flex;
    justify-content: center;
  }

  .text {
    margin: 20px 0;
    width: 85%;
    border-radius: 20px;
    padding: 15px;
    padding-bottom: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
  }

  .expand-button {
    background: 0;
    border: 0;
    position: absolute;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .expand-button.expanded {
    transform: rotate(180deg);
  }

  .note.expanded {
    min-height: 320px;
  }

  .note:hover {
    cursor: pointer;
  }
}
