.medical-record {
  display: flex;
  flex-direction: column;
  gap: 5px;

  @media (max-width: 600px) {
    width: 90%;
    margin: 100px 5%;

    .add-note-button {
      width: 180px;
      height: 50px;
      font-size: 16px;
      line-height: 18.96px;
    }

    .medical-record-menu {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      gap: 20px;
      width: 100%;
    }
    h2 {
      font-size: 26px;
      line-height: 30.81px;
      margin-bottom: 10px;
    }
  }

  @media (min-width: 600px) {
    margin: 5% 0 0 11%;
    width: 83%;

    .add-note-button {
      padding: 35px 55px;
      opacity: 0px;

      font-size: 20px;
      line-height: 23.7px;
    }

    h2 {
      font-size: 48px;
      line-height: 56.88px;
      margin-bottom: 30px;
    }
  }

  .add-note-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 40px;
    background-color: #adc4f7;
    font-family: Rubik;
    font-weight: 400;
  }

  .add-note-button:active {
    transform: scale(0.95);
  }
  .add-note-button:hover {
    cursor: pointer;
  }

  .medical-record-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 20px;
  }

  .notes-list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  h2 {
    font-weight: 400;
    text-align: left;
  }

  .icon svg {
    width: 90px;
    height: 90px;
  }
}
