.med-logo {
  position: absolute;
  top: 5px;
  right: 5px;
  @media (max-width: 600px) {
    svg {
      width: 100px;
      height: 100px;
    }
  }

  @media (min-width: 600px) {
    svg {
      width: 160px;
      height: 160px;
    }
  }
}
