.header_mainContainer {
    width: 100vw;
    padding: 0 250px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button {
    height: 20px;
}