.from-doctor-requests {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  font-family: Rubik;
  text-align: left;

  @media (max-width: 600px) {
    align-items: center;
    width: 100%;
    margin: 100px auto;
    h2 {
      font-size: 26px;
      margin-left: 7.5%;
    }
    .from-doctor-requests-inner-box {
      padding: 10px;
    }
  }

  @media (min-width: 600px) {
    align-items: flex-start;

    width: 83%;
    margin: 100px 0 0 11%;

    .from-doctor-requests-inner-box {
      width: 100%;
    }
    logo {
      svg {
        width: 160px;
        height: 160px;
      }
    }

    h2 {
      font-size: 48px;
      line-height: 56.88px;
    }
  }

  h2 {
    color: #141414;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .logo {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: -1;
  }
}
