.patient {
  border-radius: 30px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  height: 130px;
  align-items: center;
  text-align: left;
  padding: 20px;
  position: relative;
  border-color: black;
  width: 100%;

  .toggle-button {
    position: absolute;
    bottom: 30px;
    right: 30px;
    transform: rotate(-90deg);
  }
  p {
    color: #656565;
    font-size: 28px;
    font-weight: 400;
    line-height: 33.18px;
    margin-top: 0;
  }

  .patient-info {
    width: 80%;
  }

  h3 {
    font-size: 32px;
    line-height: 37.92px;
    font-weight: 400;
    color: #2f2f2f;
    margin-bottom: 10px;
  }

  .status {
    text-align: right;
    position: absolute;
    top: 25px;
    right: 30px;
  }
}

.patient.approved:hover {
  cursor: pointer;
}

.patient.waiting {
  background-color: #bcd9ff;
}

.patient.approved {
  background-color: #c2f3bf;
}

.patient.declined {
  background-color: #f0c8c8;
}
