.patient {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  position: relative;
  border-color: black;

  @media (max-width: 600px) {
    border-radius: 20px;
    height: 88px;
    align-items: flex-start;
    width: 100%;
    min-width: fit-content;

    .requests-patient-inner-box {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      gap: 10px;

      padding: 20px 10px;
    }

    .date-of-birth {
      display: none;
    }

    p {
      font-size: 14px;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 5px;
    }
    .requests-avatar {
      svg {
        width: 50px;
        height: 50px;
      }
    }
    .patient-text-box {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .patient-info {
      display: flex;
      width: 100%;
    }

    .toggle-button {
      bottom: 15px;
      right: 15px;
    }
  }

  @media (min-width: 600px) {
    border-radius: 30px;

    height: 130px;
    width: 100%;
    padding: 20px;
    gap: 20px;

    align-items: center;

    p {
      font-size: 28px;
      line-height: 33.18px;
    }

    h3 {
      font-size: 32px;
      line-height: 37.92px;
      margin-bottom: 10px;
    }
    .requests-avatar {
      svg {
        width: 90.32px;
        height: 90px;
      }
    }
    .status {
      position: absolute;
      top: 25px;
      right: 30px;
    }
    .patient-info {
      width: 80%;
    }

    .toggle-button {
      bottom: 30px;
      right: 30px;
    }

    .patient-text-box {
      display: flex;
      width: 100%;
    }
  }

  .toggle-button {
    position: absolute;
    transform: rotate(-90deg);
  }
  p {
    color: #656565;
    font-weight: 400;
    margin-top: 0;
  }

  h3 {
    font-weight: 400;
    color: #2f2f2f;
  }
}

.patient:hover {
  cursor: pointer;
}

.patient.waiting {
  background-color: #bcd9ff;
}

.patient.approved {
  background-color: #c2f3bf;
}

.patient.declined {
  background-color: #f0c8c8;
}
