.from-doctor {
  margin-top: 5%;
  @media (max-width: 600px) {
    .main-part {
      width: 88%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin: 100px 6%;
      align-items: center;
      text-align: left;
    }
  }

  @media (min-width: 600px) {
    width: 85%;
    margin: 5% 0 0 11%;
    text-align: left;

    .main-part {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 50px;
      flex-wrap: wrap;
    }
  }
}
.logo {
  position: absolute;
  right: 5px;
  top: 5px;
}
