textarea {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.login-registration {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 50%;
}
.login-registration-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 600px) {
  .login-registration-bottom {
    flex-direction: column-reverse;
    row-gap: 10px;
  }
}
