.med-card-history {
  position: relative;
  width: 36%;
  max-height: 300px;
  padding: 40px 20px 225px 40px;
  gap: 0px;
  border-radius: 30px;
  opacity: 0px;
  font-size: 30px;
  font-weight: 400;
  line-height: 35.55px;
  text-align: left;
  padding-left: 25px;
  margin-right: 20px;

  button {
    background: 0;
    border: 0;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 25px;
    right: 25px;
  }
}

.med-card-history.enable {
  background-color: #bcd9ff;
}

.med-card-history.disable {
  background-color: #c1c1c1;
}

.med-card-history.enable:hover {
  cursor: pointer;
}
