.doctor-card {
  background-color: #bcd9ff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  position: relative;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  max-height: 340px;
  order: 1;

  @media (max-width: 600px) {
    width: 85%;

    p {
      font-size: 16px;
    }

    h4 {
      font-size: 24px;
    }
    .text-container {
      padding: 20px;
    }
  }

  @media (min-width: 600px) {
    width: 50%;

    p {
      font-size: 28px;
    }
    h4 {
      font-size: 40px;
    }

    .text-container {
      max-width: 500px;
      padding: 40px 20px 100px 20px;
    }
  }

  p {
    color: #3b3b3b;
    margin: 0;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h4 {
      font-weight: 400;
      margin: 0;
    }
  }
  .toggle-button {
    background: 0;
    border: 0;
    position: absolute;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    bottom: 25px;
    right: 25px;
  }
  .toggle-button.expanded {
    transform: rotate(180deg);
  }

  .extra-info {
    transition: max-height 0.3s ease-in-out;
    color: #555;
    top: 10px;
  }

  .extra-info.show {
    padding-top: 15px;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.doctor-card.expanded {
  max-height: 430px;
  padding-bottom: 20px;
}
.doctor-card:hover {
  cursor: pointer;
}
