.patients {
  background-color: #bcd9ff;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  order: 4;
  position: relative;

  @media (max-width: 600px) {
    min-width: fit-content;
    width: 100%;
    .patients-text-container {
      padding: 20px;
      min-height: 180px;
    }

    p {
      font-size: 26px;
      line-height: 30.81px;
    }
  }

  @media (min-width: 600px) {
    width: 40%;
    padding: 25px;
    padding-bottom: 250px;

    p {
      font-size: 30px;
      line-height: 35.55px;
    }
  }

  button {
    background: 0;
    border: 0;
    position: absolute;
    right: 25px;
    bottom: 25px;
    transform: rotate(-90deg);
  }

  p {
    color: #141414;
    font-weight: 400;
  }
}

.patients:hover {
  cursor: pointer;
}
