.request {
  background-color: #bcd9ff;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  color: #141414;
  font-size: 30px;
  font-weight: 400;
  line-height: 35.55px;
  position: relative;
  order: 3;

  @media (max-width: 600px) {
    min-width: fit-content;

    width: 100%;
    .request-text-container {
      padding: 20px;
      min-height: 180px;
    }

    p {
      font-size: 24px;
    }
  }

  @media (min-width: 600px) {
    width: 40%;
    padding: 25px;
    padding-bottom: 250px;
  }

  button {
    background: 0;
    border: 0;
    position: absolute;
    right: 25px;
    bottom: 25px;

    transform: rotate(-90deg);
  }

  .show {
    background-color: #f0c8c8;
    color: #141414;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 25px;
    position: absolute;
    font-size: 25px;
  }
}

.request:hover {
  cursor: pointer;
}
button:hover {
  cursor: pointer;
}
